@import "../../../bower_components/sassy-maps/sass/memo.scss";

// BREAKPROINT
@import "../../../bower_components/breakpoint-sass/stylesheets/breakpoint.scss";

// GRID
@import "../grid/index.scss";

// VARIABLES AND MIXINS
@import "variables.scss";
@import "mixins.scss";

// VENDOR
@import "../../../bower_components/material-shadows/material-shadows.scss";





/* INSERT HERE THE EXTEND CLASS */

%ul{
	list-style: none;
	padding: 0;
	margin: 0;
}